<template>
    <div>
        <MenuItem v-for="(routes, index) in routeView" :name="routes.name" :path="routes.path" :key="index"></MenuItem>
    </div>
</template>
<script lang="ts" setup>
import type  IMenuItem  from '@/interface/IMenuItem'; 
import MenuItem from './MenuItem.vue';
import router from '@/router'

const routeView = router.options.routes.filter(route => {
    return route 
}) as IMenuItem[];


</script>